<div class="banner-container-outer">
	<div class="banner-container">
		<div class="banner">
			<div class="banner-text-container">
				<div class="banner-text">
				<a href="#mobile-navigation">asasas</a>
					<h2>sign up now for totally</h2>
					<h3>free access</h3>
					<a class="btn white">Start Now</a>
				</div>
			</div>
			<a class="arrow-down js-btn-down as-circle-none" href="#aboutme" style="opacity: 1;"><svg width="57" height="57" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="32"></circle><line x1="20" y1="30" x2="41" y2="50"></line><line x1="40" y1="50" x2="60" y2="30"></line></svg></a>
		</div>
	</div>
</div>