<header class="header hidden-xs hidden-sm">
	<nav class="sub-navigation">
		<div class="container">
			<ul class="sign-in" href="">
				<li><a>sign in</a></li>
				<li><a>register</a></li>
			</ul>
			<ul class="social" href="">
				<li><a target="_blank" href="https://www.facebook.com/pages/Top-Tennis-Trainingnet/204888079544795">facebook</a></li>
				<li><a target="_blank" href="https://twitter.com/tennis_training">twitter</a></li>
				<li><a target="_blank" href="https://www.youtube.com/user/TopTennisTrainingNet">youtube</a></li>
			</ul>
		</div>
	</nav>
	<nav class="navigation clearfix">
		<div class="container">
			<a class="logo-container"><div class="logo"></div>Top Tennis Training</a>
			<ul class="menu">
				<li class="selected"><a href="#home">Home</a></li>
				<li><a href="#accomodation">Master your tennis</a></li>
				<li class="item"><a href="#schedule">Tips</a>
					<div class="dropdown">						
						<ul class="list">
							<li>
								<a href="#" class="">froehand</a>
							</li>
							<li>
								<a href="#" class="">backhand</a>
							</li>
							<li>
								<a href="#" class="">serve</a>
							</li>
							<li>
								<a href="#" class="">volley</a>
							</li>
							<li>
								<a href="#" class="">dropshot</a>
							</li>
					
						</ul>				
					</div>
				</li>
				<li><a href="#rsvp">Drills</a></li>
				<li><a href="#gifts">Pro Footage</a></li>
				<li><a href="#directions">Strategy</a></li>
				<li><a href="#directions">Course</a></li>
				<li><a href="#directions">Free Access</a>
					<div class="dropdown">						
						<ul class="list">
							<li>
								<a href="#" class="">froehand</a>
							</li>
							<li>
								<a href="#" class="">backhand</a>
							</li>
							<li>
								<a href="#" class="">serve</a>
							</li>
							<li>
								<a href="#" class="">volley</a>
							</li>
							<li>
								<a href="#" class="">dropshot</a>
							</li>
					
						</ul>				
					</div>
				</li>
			</ul>
		</div>
		<div class="sub-nav"></div>
	</nav>
</header>