---
layout: default.hbs
class: home
---

<main class="main">

{{>header}}

{{>banner}}

<div class="content">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="section-text">
						<h2>want to play like the pro's ?</h2>
						<p>All our themes are very customizable and easy to use, and In Shape is no exception. You can change colors, fonts, backgrounds and many more directly from the WordPress admin, in a matter of clicks. Find out more by taking a peak at a few of</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
					<div class="sign-up">
						<div class="sign-up-content">
							<p>top tennis training</p>
							<p class="free">NO.1 tennis</p>
							<p>training site on the web</p>
							<a href="">join now</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
					<div class="counter">
						<div class="count">
							<h2>570,457</h2>
							<p>Members &amp; Counting</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="videos">
		<div class="container">
			<div class="row">
				<div class="gallery-banner">
					<div class="col-xs-12 col-md-8 gallery-banner-container">
						<div class="vimeo banner side" data-href="142216434" data-background="david.jpg"></div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<ul class="thumbnails">
								<li class="col-xs-12 col-sm-6 col-md-12">
									<div class="vimeo thumbnail side" data-href="142216434" data-thumb="david.jpg"></div>
								</li>
								<li class="col-xs-12 col-sm-6 col-md-12">
									<div class="vimeo thumbnail side" data-href="136722796"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="section-text">
						<h2>want to play like the pro's ?</h2>
						<p>All our themes are very customizable and easy to use, and In Shape is no exception. You can change colors, fonts, backgrounds and many more directly from the WordPress admin, in a matter of clicks. Find out more by taking a peak at</p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="players lazy" data-original="images/coaches-background.jpg">
						<div class="row">
							<div class="col-xs-12 player-container">
								<div class="player lazy" data-original="images/players.png"></div>
								<div class="row">
									<div class="player-one-info col-xs-12 col-sm-4 col-sm-offset-2">
										<h3 class="name">Simon Konov</h3>
										<a href="" class="btn fill-effect">Video</a>
										<a href="" class="btn fill-effect margin-bottom-0">Information</a>
									</div>
									<div class="col-xs-12 visible-xs">
											<div class="player lazy" data-original="images/players.png"></div>
									</div>
									<div class="player-two-info col-xs-12 col-sm-4">
										<h3 class="name">Simon Konov</h3>
										<a href="" class="btn fill-effect">Video</a>
										<a href="" class="btn fill-effect margin-bottom-0">Information</a>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<a class="arrow-up"><svg width="57" height="57" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline;"><circle cx="40" cy="40" r="32"></circle><line x1="41" y1="32" x2="25" y2="48"></line><line x1="55" y1="48" x2="40" y2="32"></line></svg></a>

{{>footer}}

</main>