---
layout: default.hbs
class: login-page
---

<main class="main">

{{>header}}

<div class="content inner-page">

	<div class="woocommerce">

		<section class="section login-forms">

			<div class="container">
				<div class="row">
					<div class="col2-set col-xs-12 col-sm-6 col-sm-offset-3">

						<div class="form-container">

						<form method="post" class="lost_reset_password">

								<h1>Forgot your password ?</h1>

							
								<p>Please enter your username or email address. <br/> You will receive a link to create a new password via email.</p>

								<p class="form-row form-row-first"><label for="user_login">Username or email</label> <input class="input-text" type="text" name="user_login" id="user_login" placeholder="Username or Email Address *"></p>

							
							<div class="clear"></div>

							
							<p class="form-row">
								<input type="hidden" name="wc_reset_password" value="true">
								<input type="submit" class="button btn" value="Reset Password">
							</p>

							<input type="hidden" id="_wpnonce" name="_wpnonce" value="329eb5ea4e"><input type="hidden" name="_wp_http_referer" value="/tttraining/my-account/lost-password/">
						</form>

						</div>

					</div>
				</div>
			</div>

		</section>

	</div>

</div>

{{>footer}}

</main>