---
layout: default.hbs
class: gallery-page
---

{{>header}}

<main class="main inner-page">
	<div class="gallery-container">
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 section-text">
						<h1>Baseline Consistency Drill</h1>
						<p>In this video, coaches Simon Konov and Alex Slabinsky show you a simple yet very demanding drill.</p>
					</div>
					<div class="gallery col-xs-12">
						<div class="row">
							<div class="gallery-banner">
								<div class="col-xs-12 col-md-8 gallery-banner-container">
									<div class="vimeo banner side" data-href="142216434" data-background="david.jpg"></div>
								</div>
								<div class="col-xs-12 col-md-4">
									<div class="row">
										<ul class="thumbnails">
											<li class="col-xs-12 col-sm-6 col-md-12">
												<div class="vimeo thumbnail side" data-href="13722796"></div>
											</li>
											<li class="col-xs-12 col-sm-6 col-md-12">
												<div class="vimeo thumbnail side" data-href="142216434" data-thumb=""></div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<ul class="thumbnails">
								<li class="col-xs-12 col-sm-4">
									<div class="thumbnail vimeo small" data-href="13722796"></div>
								</li>
								<li class="col-xs-12 col-sm-4">
									<div class="thumbnail vimeo small" data-href="142216434" data-thumb=""></div>
								</li>
								<li class="col-xs-12 col-sm-4">
									<div class="thumbnail vimeo small" data-href="142216434" data-thumb=""></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>	
	</div>
</main>

{{>footer}}