.margin-bottom-0{
	margin-bottom:0px !important;
}

.margin-bottom-20{
	margin-bottom:20px;
}

.margin-bottom-40{
	margin-bottom:40px;
}
.padding-bottom-40{
	padding-bottom:40px;
}

.padding-right-0{
	padding-right:0px;
}

.padding-left-0{
	padding-left:0px;
}